// output: index.html, pretty: true

doctype html
html
	head

		title Ildar's portfolio website
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
		link(rel='shortcut icon' href='img/favicon.ico')

		link(rel='stylesheet' type='text/css' href='css/reset.css')
		link(rel='stylesheet' type='text/css' href='css/fontello.css')
		link(rel='stylesheet' type='text/css' href='css/compiled/animate.custom.min.css')
		link(rel='stylesheet' type='text/css' href='css/compiled/style.min.css')
		link(rel='stylesheet' type='text/css' href='css/compiled/sections.min.css')
		link(rel='stylesheet' type='text/css' href='css/compiled/contactme.min.css')
		link(rel="stylesheet" type="text/css" href="css/owl.carousel.css")

	body(data-hijacking="on" data-animation="scaleDown")
		
		div#cover
			div.cube1
			div.cube2

		// intro
		
		//- section#intro.active
		//- 
		//- 	div#bgx_gradient
		//- 	div#bgx
		//- 	div#noise
		//- 	div#particles-js
		//- 	
		//- 	div.content
		//- 	
		//- 		div(class="central")
		//- 			
		//- 			div(class="animated fadeInUp" style="animation-delay:.3s;")
		//- 		
		//- 				img(src='img/avatar.jpg',class='avatar')
		//- 				br
		//- 				h1(class="glitch" data-text="HELLOWORLD") HELLOWORLD
		//- 				br
		//- 				h2(class="bounceIn animated" style="animation-delay:.9s;") My name is Ildar. I design and code
		//- 
		//- // about
		//- 
		//- section#about
		//- 	
		//- 	h4 About me
		//- 	h5 I'm designer & web developer
		//- 	
		//- 	p Lorem Ips... Well, I'm kidding. My name is Ildar. I'm 25 and I was born and currently based in Karaganda, Kazakhstan.
		//- 	p I started learning graphics and image editing software in <span class="date" hint="More than 13 years ago">2003</span>. Since then I designed almost everything what can be designed: websites, applications, products, printing arts, etc.
		//- 	p In <span class="date" hint="More than 5 years ago">2011</span> I realized that making things look good is not enough. I wanted to make them work. I started learning web and programming and it became my new passion. Every new line of code is a piece of art for me. I always keep the code as simple as possible, perfectly structured, optimized and readable.
		//- 	P I have worked on projects for a range of clients from small entrepreneurs to huge corporations and governments. I enjoy the proccess and always ready to learn new things no matter how much I already know.
		//- 	
		//- 	//- div.row.features
		//- 	//-   div.col.lg-3
		//- 	//-     span.icon-location
		//- 	//-     h2 Karaganda, KZ
		//- 	//-   div.col.lg-3
		//- 	//-     span.icon-wifi
		//- 	//-     h2 Work remotely
		//- 	//-   div.col.lg-3
		//- 	//-     span.icon-flight
		//- 	//-     h2 Ready for relocation
		//- 	//-   div.col.lg-3
		//- 	//-     span.icon-mail-alt
		//- 	//-     h2 iyawnlikeadog@gmail.com
		//- 	
		//- 	table
		//- 		tr: td <span class="icon-location"></span>Location</td><td>Karaganda, Kazakhstan
		//- 		tr: td <span class="icon-wifi"></span>Work remotely</td><td>Yes
		//- 		tr: td <span class="icon-flight"></span>Relocation</td><td>Yes
		//- 		tr: td <span class="icon-mail-alt"></span>E-mail</td><td><a href="mailto:iyawnlikeadog@gmail.com">iyawnlikeadog@gmail.com</a>
		//- 
		//- // skills
		//- 
		//- section#skills
		//- 	div.container
		//- 	
		//- 		h3 Skills
		//- 		div#graphic
		//- 			b: span Awesome skills</span>100%
		//- 			b: span Average skills</span>50%
		//- 			b: span Basic skills</span>0%
		//- 		
		//- // projects
		//- 
		//- section#projects
		//- 
		//- 	div.row
		//- 		div(class="col lg-6")
		//- 			img(src="img/projects/zenotes.png")
		//- 		div(class="col lg-6")
		//- 			div.half-container.left
		//- 				h6 ZENotes
		//- 				p
		//- 					|Beautiful modern application built using Node-Webkit and AngularJS allowing users to create documents and to do lists. Enhanced visual editor allows to insert tables, images, highlighted pieces of code and more. Available for Windows, OS X and Linux. Free.
		//- 				button Read More

		section#contactme.active
		
			div.bg_pic
			div(class="bg_color animated fadeOut" style="animation-delay:.5s;")
		
			div.container
				div.subcontainer
				
					div.row.clearfix
					
					div.col.lg-4.md-12
						div#chat_sidebar
							p
								b Write me a message
								span.icon-users
							div.contact
								img(src="img/avatar-me.jpg")
								span.name Ildar
								span(class="text animated fadeIn" style="animation-delay:1.7s;animation-duration:.2s;") Hey what's up?
					
					div.col.lg-8.md-12
						p.status
							b Ildar&nbsp;
							span(class="animated fadeIn" style="animation-delay:1.7s;animation-duration:.2s;") sent you a message
						div#chat
							div(class="msg from_me animated fadeInUp")
								div.ava
								span
									div.triangle
									|Hey what's up?
						
						form#sendmsg
							input(type='text' id='msg' placeholder="Your message" autocomplete="off")
							button: span.icon-paper-plane

		nav
			span(class="section-prev inactive")
			span(class="section-next")

		script(src='js/libs/jquery-2.1.4.min.js')
		script(src='js/libs/prefixfree.min.js')
		script(src='js/libs/particles.min.js')
		script(src='js/particles-config.js')
		script(src='js/app.js')
