// out: compiled/style.css, compress: true, sourcemap: false

link-color = #32acdd
link-hover = #5ac8f4
dark-bg    = #29292C

@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800"
@import "https://fonts.googleapis.com/css?family=Monoton"

html
	height 100%
	overflow hidden

body
	background #333
	font 400 14px/22px 'Open Sans', Arial, Helvetica, sans-serif
	// background #798176 url(../../img/bgx.jpg) -25px -50px no-repeat fixed
	// background #798176 url(../../img/bgx.jpg) top center no-repeat fixed
	// background #798176 url(../../img/gradient.jpg) top center no-repeat fixed
	// background #DDE2E6
	// background-size cover
	color #999
	min-width 100px
	height 100%
	overflow hidden
	// overflow-y scroll
	// background:url('https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/0/8/8905/red-rocks-park-o.jpg') -25px -50px;


#bgx
	background #000 url(../../img/bgx.jpg) top center no-repeat fixed
	position fixed
	top 0
	left 0
	z-index 0
	width 100%
	height 100%

a
	color link-color
	transition-duration .2s

	&:hover
		color link-hover

h1,h2,h3
	clear both
	text-transform uppercase
	// text-align center

h1
	font-size 28px
	line-height 1.2
	font-weight 800
	color #333

h2
	font-size 22px
	line-height 1.5
	margin-bottom 20px
	font-weight: 300
	color: #777

h3
	font-size 15px
	line-height 1.4
	padding-bottom 46px
	font-weight 700
	color #333
	position relative

	&:after
		content ""
		position absolute
		height 0
		left -40px
		bottom 32px
		width: 200%
		border-bottom 1px #efefef solid

::selection
	background #45a9ce
	color #fff
	text-shadow none!important

p, table, #graphic
	margin-bottom 22px

// table

table
	background #FAFAFA
	width 100%
	border-collapse collapse

	tr
		td
			padding 10px 15px
			width 33.33%
			border 1px #efefef solid

			&:last-of-type
				width 66.66%
				color #333
				font-weight 700
				background #fff

// structure

// #topp
// 	height 0
// 	position relative
// 	overflow visible
// 	color #fff
// 	z-index 2

#wrapper
	// margin 8px
	position relative
	width 100%
	height 100%
	overflow-y scroll
	overflow-x hidden
	border-left 8px transparent solid

::-webkit-scrollbar
	width 8px

::-webkit-scrollbar-track
	border-radius 10px

::-webkit-scrollbar-thumb
	background rgba(255,255,255,0.3)
	border 1px rgba(255,255,255,0.5) solid
	box-shadow 0 2px 3px rgba(0,0,0,0.1)
	border-radius 2px


	// &:after
	// 	content ""
	// 	position absolute
	// 	top 0
	// 	right 0
	// 	height 100%
	// 	width 60px
	// 	background #34363B
	// 	z-index 1
	// 	border-top-right-radius 2px
	// 	border-bottom-right-radius 2px

	.demobuttons
		position absolute
		top 0
		right 0
		width 60px
		height auto

#noise, #particles-js
	position fixed
	width 100%
	height 100%
	top 0
	right 8px
	z-index 0
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

#noise
	background url(../../img/static_animated.gif) 0 0 repeat
	opacity 0

#playPause
	position absolute
	z-index 3
	top 30px
	right 68px
	color rgba(#ffffff, 0.75)
	> span
		animation-duration: .2s;
		opacity 0
		display block
		position absolute
		top 0
		left 0
		text-align center
		font-size 28px
		width 38px
		height 38px
		line-height 38px

#playPause,
.icon-down-open
	cursor pointer
	transition-duration .3s

#playPause:hover,
.icon-down-open:hover
	box-shadow 0 0 10px #D86DB3
	text-shadow 0 0 15px #ff50c3
	&#playPause:hover
		color #fff
		box-shadow none

// sections

section
	margin 0 auto
	max-width 960px
	z-index 2
	background #fff
	padding 30px 40px
	position relative
	overflow hidden
	&:last-of-type
		margin-bottom 80px

// intro

#intro
	position relative
	padding 0 10px
	color #fff
	background transparent
	border-top-left-radius 2px

	.central
		text-align center
		position relative
		top 50%

		> * { display: inline-block; margin: 0 auto; color: #fff; }
		h1 { font-family: 'Monoton'; font-weight: 400; }
		.btwn { display: inline-block; width: 49px; }

		img.avatar
			width 130px
			height 130px
			border-radius 50%
			border 3px rgba(#ffffff, 0.8) solid

	.icon-down-open
		display block
		font-size 18px
		height 38px
		width 38px
		line-height 32px
		text-align center
		border 3px #fff solid
		border-radius 50%
		position absolute
		left 50%
		bottom 40px
		margin-left -19px

	ul
		li
			background dark-bg
			text-align right
			padding 10px 30px
			&:hover, &.active
				background #CD5353
				cursor pointer

	.ico
		position absolute
		height 25px
		width auto





#top
	box-shadow 0 0px 10px rgba(#000,.15)

// skills

#skills
	// background dark-bg
	// background dark-bg url(../../img/chart-bg.jpg)
	background rgba(40,34,48,0.8)
	background-size cover
	box-shadow inset 0 2px 2px rgba(#000,.2)

	h3
		color #fff
		// color #B7C0C8
		&:after
			border-color #383838

#graphic
	position relative
	margin 20px 0 90px 0

	b
		display block
		position absolute
		height 14px
		width 100%
		line-height 14px
		font-size 10px
		color rgba(#fff,.6)
		// color #656d6d
		font-weight 400
		border-bottom 1px #2E3233 solid
		&:nth-of-type(1) { bottom: 100%; }
		&:nth-of-type(2) { bottom: 50%; }
		&:nth-of-type(3) { bottom: 0%; }

		&:after
			content ""
			position absolute
			height 0
			left -40px
			bottom 50%
			width: 200%

		span
			float right

	.graphic-column
		display inline-block
		width (100%/8)
		position relative
		height 100px
		top 6px

		> div
			width 10px
			height 0
			margin-left -5px
			margin-top 100px
			position relative
			left 50%
			border-top-left-radius 1px
			border-top-right-radius 1px
			transition-duration 1s

		&:nth-of-type(1) > div
			background linear-gradient(to top,#807bf7 0%,#C1398B 100%)
			transition-delay .5s
		&:nth-of-type(2) > div
			background linear-gradient(to top,#D64F66 0%,#A94894 100%)
			transition-delay 1s
		&:nth-of-type(3) > div
			background linear-gradient(to top,#EC6953 0%,#A23663 100%)
			transition-delay 1.5s
		&:nth-of-type(4) > div
			background linear-gradient(to top,#ff9259 0%,#BD4848 100%)
			transition-delay 2s
		&:nth-of-type(5) > div
			background linear-gradient(to top,#1cadac 0%,#3154B9 100%)
			transition-delay 2.5s
		&:nth-of-type(6) > div
			background linear-gradient(to top,#7bf7be 0%,#216790 100%)
			transition-delay 3s

		i
			display inline-block
			width 100%
			text-align center
			position absolute
			font-style normal
			bottom -30px
			font-size 12px
			color #fff

		img
			position absolute
			height 30px
			width auto

#tech
	.tag
		margin 0 10px 10px 0
		display inline-block
		padding 5px
		line-height 1
		font-size 12px
		font-weight 400
		background #444

// works

#works
	font-size 0
	line-height 0

	img
		width 33.33333%
		height auto
		border 1px #fff solid

// mobile

@media screen and (max-width: 600px)

	::-webkit-scrollbar
		width 0

	#wrapper
		border-left none

@media screen and (max-width: 370px)

	h2
		font-size 18px

	.btwn
		width 0!important
