// out: ../compiled/style.min.css, compress: true, sourcemap: true

$gutter       = 30px
$md           = 740px
$sm           = 499px
$link-color   = #32acdd
$link-hover   = #5ac8f4
$focus-color  = #5ac8f4
$select-color = #5F8FAF
$main-font    = 'Open Sans', Arial, Helvetica, sans-serif

// imports

@import 'http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic'
@import 'reset'

// style

body
	font 400 14px/22px $main-font
	color #333738
	background #bbb
	min-width 320px

h1, h2, h3, h4, h5, h6 { clear: both; font-weight: 400; margin-bottom: 15px; }
h1 { font-size: 26px; line-height: (36/26); }
h2 { font-size: 24px; line-height: (36/24); }
h3 { font-size: 22px; line-height: (24/22); }
h4 { font-size: 20px; line-height: (24/20); }
h5 { font-size: 18px; line-height: (24/18); }
h6 { font-size: 16px; line-height: (24/16); }

::selection { background: $select-color; color: #fff; text-shadow: none!important; }



// Inputs, Buttons, Lists

input, select, textarea
	font 400 14px/18px $main-font
	background #fff
	vertical-align top
	transition-duration .3s
	&:focus
		border-color $focus-color
		box-shadow 0 0 1px $focus-color

button, .button
	outline none
	border none
	padding 10px 13px
	border-radius 3px
	text-transform uppercase
	background $link-color
	color #fff
	font 600 12px/16px $main-font
	transition-duration .3s
		&:hover
			background $link-hover
			cursor pointer
		span
			margin-right 10px

ul.check li span { color: #86CB5C; padding-right: 5px; }
ul.star  li span { color: #ffc94f; padding-right: 5px; }

.searchbar {
	margin-bottom: 15px;
	display: inline-block;
	vertical-align: top;
	* { margin: 0; vertical-align: top; }
	input {
		height: 40px;
		float: left;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.button {
		height: 40px;
		margin-left: -1px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		span { font-size: 18px; margin: 0; }
	}
}

/* Layout: wrapper -> sections */



#wrapper {
	max-width: 960px;
	margin: 50px auto;

	header,
	footer,
	section { padding: 30px; }
}

/* Layout: sections -> containers */

section      { background: #fff; }
section.grey { background: #f0f0f0; }

.container { padding: 30px; max-width: 1020px; margin: 0 auto; }

/* Header */

header { background: #fff; }

#logo {}



/* Main Menu */



nav#main-menu {
	float: right;

	&.desktop {
		.mobile-menu-button { display: none; }
		li { float: left; padding: 0 15px; position: relative; }
		li ul {
			position: absolute;
			width: 200px;
			background: #fff;
			padding: 15px 0;
			box-shadow: 0 0 5px rgba(0,0,0,0.3);
			border-radius: 3px;
			left: 0;
			opacity: 0;
			animation-duration: .5s;
			li { display: block; }
		}
	}

	&.mobile {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		padding: 10px;
		background: #fff;
		box-shadow: 0 0 5px rgba(0,0,0,0.3);

		.mobile-menu-button { display: block; float: right; }
		.mobile-menu-button:hover { cursor: pointer; }
		.icon-menu { font-size: 22px; display: block; padding: 4px 0; border-radius: 3px; background: #fff; box-shadow: 0 0 1px rgba(0,0,0,0.2); }

		> ul { display: none; background: #fff; padding: 15px; position: absolute; top: 30px; left: 0; }
		> ul > li > ul { position: relative; padding-left: 15px; }
	}
}

// Footer

footer
	background #333
	color #fff
	text-align center

/* Mobile Version */

// @media screen and (max-width: 739px)
