// output: index.html, pretty: true

doctype html
html
	head
	
		title Title
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		link(rel="shortcut icon" href="../@shared/img/favicon.ico")

		link(rel="stylesheet" type="text/css" href="css/compiled/style.min.css")
		
		script(src="../@shared/js/jquery-2.1.4.min.js")
		script(src="../@shared/js/prefixfree.min.js")
		script(src="js/main.js")
		
	body
	
