{{#bug}}
{{/bug}}

<div class="skills">
  {{#skills}}

    <div id="{{ 1 }}" class="item animated fadeIn" style="animation-delay:${delay}s">
      <h3>{{ 0 }}</h3>
      <p>{{ 4 }}</p>
      <div class="progress-bar">
        <div class="progress animated color-{{ 3 }}" style="width: {{ 2 }}%"></div>
      </div>
    </div>

  {{/skills}}
</div>
