{{#bug}}
{{/bug}}

<div class="works">
  {{#works}}

    {{#0}}
      <div class="works-item div-{{ 0 }}">

        <div class="placeholder {{1}}" data-large="works/{{5}}">
          <img src="works/previews/{{5}}" class="preview">
        </div>

        {{#6}}<a href="http://{{.}}" target="_blank">{{/6}}
          <div class="overlay">

            <!-- Header and subheader -->

            <h3>{{#6}}<span class="icon icon-link"></span>{{/6}}{{2}}</h3>
            <h4>{{3}}</h4>

            <!-- Tags -->
            <div class="tags">

              {{#4}}
                <div class="tag">{{.}}</div>
              {{/4}}
            </div>

          </div>
        {{#6}}</a>{{/6}}

      </div>
    {{/0}}

    {{^0}}
      </div><div class="works">
    {{/0}}

  {{/works}}
</div>
