// output: ../index.html, pretty: true

doctype html
html
	head
	
		title maestro9
		meta(name="author" content="")
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		include favicon.html

		link(rel="stylesheet" type="text/css" href="assets/css/fontello.css")
		link(rel="stylesheet" type="text/css" href="assets/css/compiled/style.min.css")
		
		//- script(src="assets/js/jquery-3.0.0.min.js")
		script(src="assets/js/masonry.pkgd.min.js")
		script(src="assets/js/prefixfree.min.js")
		script(src="assets/js/main.js")
		
	body
	
		// Sections -> Containers

		// Header
		
		header
			div.container
			
				a(href="/" id="logo")
					img(src="assets/svg/logo.svg")
					
				nav
					ul
						li: a(href="#") Home
						li: a(href="#") Works
						li: a(href="#") Skills
						li: a(href="#" class="btn btn-primary") Hire me
					//- div.nav_btn: #[div]#[div]#[div]

		// Main

		section#about
			div.container
				//- h1 I provide #[strong Design Solutions.]#[br]My work is presented here, check them below.
				h1 Hi! I'm #[strong Ildar Akhmaltdinov.]#[br]Here are a couple of lines about me:
				p I'm a #[span#age] years old designer and web-developer born in Karaganda, KZ and currently living in #[span.icon-location] Almaty, Kazakhstan. Now check my portfolio.
				
		// Works
			
		section#works.clearfix
			div.container
				include ../works.html
		
		// Footer

		//- footer
		//- 	div.container
		//- 		p &copy; 2016 Sitename.
