// main: style.styl

#about

	img
		border-radius 50%
		width 60px
		height 60px
		position absolute
		top 0
		right 0

.icon-location
	color #F16752
	&:before
		margin 0

.date
	background #ddd
	font 700 16px/26px brandon_text
	padding 0 5px
	border-radius 2px

button
	float right
