// main: style.styl

// @keyframes zoomBG {
// 	50% { background-size: auto 93%;  }
// 	100% { background-size: auto 90%;  }
// }

// @keyframes showBG {
// 	from { opacity: 0; }
// 	to   { opacity: 1; }
// }

#hello
	// background #F6F6F6 url(../../img/bg-hello.jpg) bottom right no-repeat
	background-size auto 90%
	overflow hidden
	// animation zoomBG 5s infinite linear

	.bg-hello-contour,
	.bg-hello
		position absolute
		height 90%
		width auto
		bottom 0
		right 0
	//
	// .bg-hello
	// 	animation-delay 5s
	// 	animation showBG 1s linear

// #contour .path
	// display none
	// stroke-dasharray 1000
	// stroke-dashoffset 1000
	// animation dash 5s linear forwards



	.center *
		@extend .antiblur

	.langs
		span
			font-size 14px
			cursor pointer
			display inline-block
			text-align center
			width 30px
			height 24px
			line-height 24px
			border-radius 2px
			font-weight 700
			&:hover
				background #ddd
			&.en
				margin 0 4px 0 10px
			&.active
				background $pinky!important
				color #fff
				cursor default
