// main: style.styl

#noise, #particles-js
	position fixed
	width 100%
	height 100%
	top 0
	right 8px
	z-index 0
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

#noise
	background url(../../img/static_animated.gif) 0 0 repeat
	opacity 0

// #playPause
// 	position absolute
// 	z-index 3
// 	top 30px
// 	right 68px
// 	color rgba(#ffffff, 0.75)
// 	> span
// 		animation-duration: .2s;
// 		opacity 0
// 		display block
// 		position absolute
// 		top 0
// 		left 0
// 		text-align center
// 		font-size 28px
// 		width 38px
// 		height 38px
// 		line-height 38px
//
// #playPause,
// .icon-down-open
// 	cursor pointer
// 	transition-duration .3s
//
// #playPause:hover,
// .icon-down-open:hover
// 	box-shadow 0 0 10px #D86DB3
// 	text-shadow 0 0 15px #ff50c3
// 	&#playPause:hover
// 		color #fff
// 		box-shadow none

// sections

// #section_wrapper
// 	background #F9F9F9
// 	padding 30px 0



// intro

#intro
	padding 0 10px
	color #fff

	// .anim
	// 	transition-delay .4s
	// 	transition-duration 1s
	// 	position relative

	.central
		position relative
		top 50%
		transform translateY(-50%)
		text-align center

		*
			display inline-block
			margin 0 auto
			color #fff

		h1,h2,div.langs
			display block

		.langs
			span
				display inline-block
				cursor pointer

		h1
			position relative
			text-transform none
			margin-top 7px
			margin-left -2px

		h2
			height 27px
			filter blur(0)
		  -webkit-filter blur(0)

		img.avatar
			width 130px
			height 130px
			border-radius 50%
			border 3px #fff solid
			// transform scale(-1, 1)

	.icon-down-open
		display block
		font-size 18px
		height 38px
		width 38px
		line-height 32px
		text-align center
		border 3px #fff solid
		border-radius 50%
		position absolute
		left 50%
		bottom 40px
		margin-left -19px
		&:hover
			font-size 22px
			height 44px
			width 44px
			margin-left -22px
			line-height 38px
