// main: style.styl

section
	width 100%
	min-height 100%
	z-index 2
	position absolute
	background #F6F6F6
	top 100%
	left 0
	border 20px #fff solid
	transition-duration 1s

	&.active
		top 0

	.container-outer
		height calc(100vh - 40px)
		overflow-y auto

	.container
		max-width 1060px
		padding 40px 80px
		height calc(100vh - 40px)
		position relative
		margin 0 auto
		display flex
		flex-direction column
		justify-content center
		&.hasScrollbar
			display block
			.center
				padding-bottom 20px

	&.dark
		background #222
	h6
		color #fff
	.half-container
		max-width 480px
	&.left
		padding-left 30px

	.bg
		position absolute
		top 0
		left 0
		width 100%
		height 100%

	.center
		@extend .clearfix
		position relative
		// top 50%
		// transform translateY(-50%)

// nav

nav
	@extend .noselect
	position fixed
	z-index 3
	right 40px
	top 50%
	bottom auto
	transform translateY(-50%)

	span
		cursor pointer
		display block
		height 60px
		width 40px
		overflow hidden
		text-align center
		white-space nowrap
		font-size 20px
		line-height 60px
		color #3B3F41
		transition-duration .3s

		&:hover
			transform scale(1.2, 1.2)

		&.inactive
			visibility hidden
			opacity 0
			transition opacity 0.2s 0s, visibility 0s 0.2s

	img
		display block
		margin 0 auto
