// out: ../compiled/style.min.css, compress: true, sourcemap: true

$gutter      = 40px
$md          = 740px
$sm          = 499px
link-color   = #32acdd
link-hover   = #5ac8f4
dark-bg      = #29292C
$pinky       = #FF5578
$sea         = #6EDF95
$sea-hover   = #83e8a6
brandon_font = 'Brandon Grotesque', 'Open Sans', 'Arial', 'Helvetica', sans-serif
brandon_text = 'Brandon Text', 'Open Sans', 'Arial', 'Helvetica', sans-serif
opensansfont = 'Open Sans', 'Arial', 'Helvetica', sans-serif
$dark-text   = #1f1b16
$mid-text    = #555
$normal-text = #53504d
$light-text  = #999
easeInCubic  = cubic-bezier(0.55, 0.055, 0.675, 0.19)

@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin,cyrillic"
@import "https://fonts.googleapis.com/css?family=Noto+Serif&subset=latin,cyrillic"

@font-face
	font-family 'Brandon Grotesque'
	font-weight 900
	src url('../../font/brandon_blk.woff') format('woff')

@font-face
	font-family 'Brandon Grotesque'
	font-weight 700
	src url('../../font/brandon_bld.woff') format('woff')

@font-face
	font-family: 'Frontage Bold';
	src: url('../../font/frontage-bold.eot');
	src: url('../../font/frontage-bold.eot?#iefix') format('embedded-opentype'), url('../../font/frontage-bold.woff') format('woff'), url('../../font/frontage-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

@font-face
	font-family "Brandon Text"
	font-weight 400
	src url('../../font/brandon_text_400.eot')
	src url('../../font/brandon_text_400?#iefix') format('embedded-opentype'),
			url('../../font/brandon_text_400.woff2') format('woff2'),
	  	url('../../font/brandon_text_400.woff') format('woff'),
		  url('../../font/brandon_text_400.ttf') format('truetype')

@font-face
	font-family "Brandon Text"
	font-weight 700
	src url('../../font/brandon_text_700.eot')
	src url('../../font/brandon_text_700.eot?#iefix') format('embedded-opentype'),
			url('../../font/brandon_text_700.woff2') format('woff2'),
		  url('../../font/brandon_text_700.woff') format('woff'),
		  url('../../font/brandon_text_700.ttf') format('truetype')

@import 'reset'
@import 'sections'
@import 'hello'
// @import 'intro'
@import 'about'
@import 'skills'
@import 'projects'
@import 'contactme'

html
	height 100%
	overflow hidden

body
	background #ddd
	font 400 14px/22px 'Open Sans', Arial, Helvetica, sans-serif
	color #999
	min-width 100px
	height 100%
	overflow hidden
	&.en
		project_lang.en { display: inline }
		project_lang.ru { display: none   }
	&.ru
		project_lang.en { display: none   }
		project_lang.ru { display: inline }

#bgx
	background #000 url(../../img/bg_one.jpg) center center no-repeat fixed
	background-size cover
	opacity 0.75
	position absolute
	top 0
	left 0
	z-index 0
	width 100%
	height 100%

#bgx_gradient
	position absolute
	top 0
	left 0
	z-index 0
	width 100%
	height 100%
	background linear-gradient(to right, #49ADB7 0%, #A63FCA 100%)

a
	color link-color
	transition-duration .2s

	&:hover
		color link-hover

h1,h2,h3
	clear both
	position relative
	color $dark-text

h3, p { margin-left: 3px; }
h2    { margin-left: 5px; }

h1
	text-transform uppercase
	font 900 71px/1 brandon_font
	letter-spacing 3px
	margin-bottom 5px

h2
	@extend h1
	font-size 48px
	margin-bottom 8px

h3
	font 700 24px/1 brandon_font
	letter-spacing 2px
	text-transform uppercase
	margin-bottom 40px
	// font-size 15px
	// line-height 1.8
	// margin-bottom 20px
	// font-weight: 300
	// color #777
	// letter-spacing .07em
	// letter-spacing .8px
	// font-family monoton

// h3
// 	font-size 15px
// 	line-height 1.4
// 	font-weight 700
// 	color #333
// 	position relative

	// &:after
	// 	content ""
	// 	position absolute
	// 	height 0
	// 	left -40px
	// 	bottom 32px
	// 	width: 200%
	// 	border-bottom 1px #efefef solid

h4
	font 700 16px/20px brandon_text
	color $mid-text
	letter-spacing .3px

h5
	font 400 16px/20px brandon_text
	color $light-text
	// margin 20px 0

// h6
// 	font 400 36px/43px 'Noto serif', 'Times New Roman', serif
// 	margin 40px 0 25px 0
// 	color #333

::selection
	background #45a9ce
	color #fff
	text-shadow none!important

p
	color $normal-text
	position relative
	font 400 18px/28px brandon_text
	// margin-bottom 28px

span.separator
	display block
	height 2px
	width 30px
	background #ddd
	position absolute
	top 50%

button
	// @extend .antiblur
	background $sea
	color #fff
	display block
	border none
	outline none
	padding 0 14px
	text-transform uppercase
	font 700 14px/42px opensansfont
	letter-spacing 1px
	margin-top 28px
	border-radius 2px
	transition-duration .3s
	transition-timing-function easeInCubic
	&:hover
		background $sea-hover
	span:before
		margin 0 10px 0 0!important
		// transform scale(1.1, 1.1)

// table

table
	background #FAFAFA
	width 100%
	// border 5px #efefef solid
	border-collapse collapse

	tr
		td
			padding 10px 15px
			width 33.33%
			border 1px #efefef solid
			color #777

			&:last-of-type
				width 66.66%
				color #333
				font-weight 700
				background #fff

			span
				margin-right 15px

// structure

// #topp
// 	height 0
// 	position relative
// 	overflow visible
// 	color #fff
// 	z-index 2

// #wrapper
// 	position relative
// 	width 100%
// 	height 100%
// 	overflow-y scroll
// 	// overflow-y hidden
// 	overflow-x hidden
// 	// padding 0 42px 0 50px

// ::-webkit-scrollbar
// 	width 8px
//
// ::-webkit-scrollbar-track
// 	border-radius 10px
//
// ::-webkit-scrollbar-thumb
// 	background rgba(255,255,255,0.3)
// 	border 1px rgba(255,255,255,0.5) solid
// 	box-shadow 0 2px 3px rgba(0,0,0,0.1)
// 	border-radius 2px





	// ul
	// 	li
	// 		background dark-bg
	// 		text-align right
	// 		padding 10px 30px
	// 		&:hover, &.active
	// 			background #CD5353
	// 			cursor pointer
	//
	// .ico
	// 	position absolute
	// 	height 25px
	// 	width auto

// top






// #tech
// 	.tag
// 		margin 0 10px 10px 0
// 		display inline-block
// 		padding 5px
// 		line-height 1
// 		font-size 12px
// 		font-weight 400
// 		background #8C9AA0
// 		color #fff

// works

// #works
// 	font-size 0
// 	line-height 0
//
// 	img
// 		width 33.33333%
// 		height auto
// 		border 1px #fff solid
//



// mobile

@media screen and (max-width: 600px)

	::-webkit-scrollbar
		width 0

	#wrapper
		padding 0

	section:last-of-type
		margin-bottom 0

@media screen and (max-width: 370px)

	h2
		font-size 18px

	.btwn
		width 0!important

// preloader

#cover
	background #f6f6f6
	border 20px #fff solid
	position fixed
	top 0
	left 0
	z-index 100
	width 100%
	height 100%
	opacity 1
	transition-delay .5s
	transition-duration 1s
	transition-timing-function linear

	#preloader
		text-align center
		position relative
		top 50%
		margin-top -15px

		[class^="bar-"]
			width 8px
			height 30px
			background $sea
			display inline-block
			margin 0 1px
			border-radius 1px
			position relative
			opacity .1
			animation zoomBar 1.4s infinite ease-in-out
			&.bar-2 { animation-delay: (1.4 / 2 / 3 * 1) s }
			&.bar-3 { animation-delay: (1.4 / 2 / 3 * 2) s }

			@keyframes zoomBar {
				from { transform: scale(1.0); -webkit-transform: scale(1.0); opacity: .1 }
				50%  { transform: scale(1.2); -webkit-transform: scale(1.2); opacity: 1  }
				to   { transform: scale(1.0); -webkit-transform: scale(1.0); opacity: .1 }
			}

// .cube1
// 	background #8B9898
// 	width 15px
// 	height 15px
// 	position fixed
// 	top 50%
// 	left 50%
// 	margin-left -27px
// 	margin-top -27px
// 	animation sk-cubemove 1.8s infinite ease-in-out
// 	-webkit-animation sk-cubemove 1.8s infinite ease-in-out
//
// .cube2
// 	@extend .cube1
// 	animation-delay -0.9s
// 	-webkit-animation-delay -0.9s
//
// @keyframes sk-cubemove {
// 	25%   { transform: translateX(42px) rotate(-90deg) scale(0.5); -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
// 	50%   { transform: translateX(42px) translateY(42px) rotate(-179deg); -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg); }
// 	50.1% { transform: translateX(42px) translateY(42px) rotate(-180deg); -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg); }
// 	75%   { transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
// 	100%  { transform: rotate(-360deg); -webkit-transform: rotate(-360deg); }
// }

// glitch text

.glitch
	&:after
		content attr(data-content)
		position absolute
		left 1px
		text-shadow -2px 0 rgb(255, 0, 0)
		top 0
		color #111
		opacity .5
		overflow hidden
		clip rect(0,900px,0,0)
		animation noise-anim 2s infinite linear alternate-reverse
		width 100%

	&:before
		@extend .glitch:after
		left -1px
		text-shadow 2px 0 rgb(0, 255, 255)
		color #333
		animation noise-anim 3s infinite linear alternate-reverse

random(min,max)
	return floor(math(0, 'random')*(max - min + 1) + min)

@keyframes {noise-anim}
	for i in 0..20
		{5% * i}
			clip rect(random(0,100)px,9999px,random(0,100)px,0)

// send msg

#sendmsg >*::-webkit-input-placeholder       { opacity: 1; transition: opacity 0.3s ease; color: #fff; }
#sendmsg >*::-moz-placeholder                { opacity: 1; transition: opacity 0.3s ease; color: #fff; }
#sendmsg >*:-moz-placeholder                 { opacity: 1; transition: opacity 0.3s ease; color: #fff; }
#sendmsg >*:-ms-input-placeholder            { opacity: 1; transition: opacity 0.3s ease; color: #fff; }
#sendmsg >*:focus::-webkit-input-placeholder { opacity: 0; transition: opacity 0.3s ease; }
#sendmsg >*:focus::-moz-placeholder          { opacity: 0; transition: opacity 0.3s ease; }
#sendmsg >*:focus:-moz-placeholder           { opacity: 0; transition: opacity 0.3s ease; }
#sendmsg >*:focus:-ms-input-placeholder      { opacity: 0; transition: opacity 0.3s ease; }
